exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(mfbvar, .registration = TRUE)
import(RcppArmadillo)
import(stats)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("pbapply", "setTimerProgressBar", "timerProgressBar")
import(ggplot2)
S3method(print, mfbvar)
S3method(summary, mfbvar)
S3method(plot, mfbvar)
S3method(predict, mfbvar)
S3method(print, mdd)
S3method(summary, mdd)
S3method(plot, mdd)
S3method(autoplot, mfbvar)
S3method(print, mfbvar_prior)
S3method(summary, mfbvar_prior)
S3method(mdd, mfbvar_minn)
S3method(mdd, mfbvar_ss)
importFrom("methods", "hasArg")
importFrom("broom", "tidy")
importFrom("ggplot2", "autoplot")
export(set_prior)
export(update_prior)
export(estimate_mfbvar)
