importFrom(Rcpp, evalCpp)
useDynLib(mfbvar, .registration = TRUE)
import(stats)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("pbapply", "setTimerProgressBar", "timerProgressBar")
importFrom("progress", "progress_bar")
importFrom(magrittr,"%>%")
importFrom(tibble,"tibble")
importFrom(dplyr, "group_by", "summarize", "ungroup", "mutate", "transmute", "bind_rows")
importFrom(lubridate, "%m-%", "%m+%", "days", "ymd", "quarter", "month", "year")
import(ggplot2)
S3method(print, mfbvar_prior)
S3method(summary, mfbvar_prior)
S3method(mdd, mfbvar_minn_iw)
S3method(mdd, mfbvar_ss_iw)
S3method(mcmc_sampler, mfbvar_minn_iw)
S3method(mcmc_sampler, mfbvar_ss_iw)
S3method(print, mfbvar_minn_iw)
S3method(print, mfbvar_ss_iw)
S3method(summary, mfbvar_minn_iw)
S3method(summary, mfbvar_ss_iw)
S3method(plot, mfbvar_minn)
S3method(plot, mfbvar_ss)
S3method(plot, mfbvar_prior)
S3method(predict, mfbvar)
importFrom("methods", "hasArg")
export(set_prior)
export(update_prior)
export(estimate_mfbvar)
export(interval_to_moments)
export(mdd)
export(mcmc_sampler)
export(varplot)
