exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(mfbvar)
import(RcppArmadillo)
import(stats)
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(ggplot2)
S3method(print, mfbvar)
S3method(summary, mfbvar)
S3method(plot, mfbvar)
S3method(predict, mfbvar)
S3method(print, mdd)
S3method(summary, mdd)
S3method(plot, mdd)
importFrom("methods", "hasArg")
